<?xml version="1.0" encoding="UTF-8"?>
<template xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:noNamespaceSchemaLocation="../../../schema.xsd">

	<property name="title">Effortless Ui</property>
	<property name="author">Lommix</property>

	<!-- the root node of each template can define default property values -->
	<node flex_direction="column"
		  padding="40px">

		<!-- this is a user defined node `panel` that maps to include a another template -->
		<panel primary="#AAF"
			   title="{title}">
			<img align_self="center"
				 height="200px"
				 src="bevy_bird_dark.png"/>

			<panel title="test">
				<preview source="bevy_bird_dark.png"
						 title="Golden sword"/>
			</panel>

			<panel primary="#515"
				   secondary="#315"
				   title="Update Properties">

				<node align_items="center"
					  flex_direction="columns">
					<text font_size="40"> - {title} - </text>
					<text font_size="40"> - {title} - </text>
					<text font_size="40"> - {title} - </text>
				</node>

				<button background="#002"
						justify_content="center"
						hover:background="#008"
						pressed:background="#955"
						hover:padding="10px 55px"
						border="2px"
						border_color="#FFF"
						delay="200ms"
						ease="cubic_in"
						border_radius="4px"
						padding="10px"
						on_press="debug">
					<text font_size="25">Change Title</text>
				</button>
			</panel>
			<panel secondary="#a02"
				   primary="#401"
				   title="Foo">
				<node flex_direction="column">
					<node
						  justify_content="space_between"
						  padding="0 4px"
						  margin="0px 5px">
						<text>Inventory</text>
						<text>[ scroll ]</text>
					</node>
					<button on_spawn="scrollable"
							tag:scroll_speed="1000"
							target="inventory"
							width="420px"
							height="300px"
							overflow="hidden hidden"
							align_content="center"
							justify_content="center">
						<node on_spawn="inventory"
							  id="inventory"
							  display="grid"
							  grid_template_columns="(6, auto)"
							  padding="10px"
							  column_gap="7px"
							  row_gap="5px"/>
					</button>
				</node>
			</panel>
		</panel>
	</node>
</template>
